.board {
  width: 100%;
  /*min-width: 41vh;*/
  position: relative;

  height: 100%;
  /*min-height: 82vh;*/
  /*max-width: 60vw;*/
  background: var(--TETRIS_BLACK);
  border: 3px solid var(--TETRIS_WHITE);
  border-radius: 10px;
  display: grid;
  grid-gap: 2px;
}

.BoardCell {
  width: auto;
  border-radius: 6px;
  position: relative;
}

.tetromino {
  border-top: 3px solid var(--TETROMONO_SHADOW_PRIMARY);
  border-left: 3px solid var(--TETROMONO_SHADOW_PRIMARY);
  border-bottom: 3px solid var(--TETROMONO_SHADOW_SECONDARY);
  border-right: 3px solid var(--TETROMONO_SHADOW_SECONDARY);
}

.tetromino .Sparkle {
  position: absolute;
  z-index: 10;
  width: 5px;
  height: 5px;
  left: -2px;
  top: -2px;
  background-color: var(--TETRIS_WHITE);
  border-radius: 4px 4px;
  opacity: 0.8;
}

.tetromino.ghost {
  background-color: transparent;
  border: 2px solid var(--TETRIS_WHITE);
  opacity: 0.2;
}

.tetromino.ghost .Sparkle {
  opacity: 0;
}

.tetromino__i {
  background-color: var(--TETRIS_GREEN);
}
.tetromino__o {
  background-color: var(--TETRIS_RED);
}
.tetromino__j {
  background-color: var(--TETRIS_PINK);
}
.tetromino__l {
  background-color: var(--TETRIS_RED_DARK);
}
.tetromino__s {
  background-color: var(--TETRIS_RED_MIDDLE);
}
.tetromino__z {
  background-color: var(--TETRIS_RED_LIGHT);
}
.tetromino__t {
  background-color: var(--TETRIS_RED_DOWN_MID);
}


.gameoverOverlay {
  position: absolute;
  top: 10%; 
  left: 50%; 
  transform: translateX(-50%);
  color: var(--TETRIS_RED);
  font-size: 1.5em;
  background:  var(--TETRIS_WHITE);
  opacity: 0.8;
  padding: 10px 20px;
  border-radius: 50px;
}