.gameStats {
  text-align: start;
  list-style-type: none;
  color: var(--TETRIS_PINK);
  display: flex;
  flex-direction: column;
  align-items: start;
  user-select: none;
}

.gameStats .value {
  font-size: 2.8rem;
  margin-bottom: 0.5em;
  color: var(--TETRIS_WHITE);
}
