.tetrisMain {
  /*position: relative;/*/
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 21px;
  padding-left: 21px;
  transition: transform 0.5s ease-in-out, margin-top 0.5s ease-in-out;
}

.wrapper {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--TETRIS_WHITE);
  padding: 21px;
  gap: 21px;
}

.infoBlock {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.right {
  height: 100%;
  display: flex;
  flex-direction: column;
  /*align-items: flex-start;*/
  /*align-self: center;*/
  gap: 21px;
  padding-right: 21px;
}

.boardContainer {
  min-width: 41vh;
  min-height: 82vh;
}

.observation {
  display: flex;
  flex-direction: column;
  gap: 21px;
  border: 1px solid var(--TETRIS_WHITE);
  text-align: left;
  padding: 21px;
  max-width: 980px;
  animation: zoomIn 0.3s ease-in;
}

.others {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 42px;
  /*border: 1px solid var(--TETRIS_WHITE);*/
  justify-content: center;
}

.eachOtherBoard {
  width: 21vh;
  height: 42vh;
  animation: zoomIn 0.3s ease-in;
}

@media (max-width: 1140px) {
  .tetrisMain {
    flex-direction: column;
    align-items: center;
  }
  .right {
    justify-content: center;
    margin-bottom: 21px;
    /*align-self: center;*/
  }
}

@media (max-width: 768px) {
  .tetrisMain {
    transform: scale(0.8);
    margin-top: -81px;
  }
}

@media (max-width: 600px) {
  .tetrisMain {
    transform: scale(0.7);
    margin-top: -111px;
  }
}

@media (max-width: 415px) {
  .tetrisMain {
    transform: scale(0.6);
    margin-top: -131px;
  }
}
