.formInput {
  display: flex;
  flex-direction: column;
  width: 280px;
  position: relative; /* To position the error message */
  margin-bottom: 10px;
}

.input {
  padding: 12px;
  margin: 5px 0px;
  border-radius: 5px;
  border: 1px solid var(--TETRIS_BLACK);
}

.input:hover {
  border-color: var(--TETRIS_GREEN);
}

.label {
  font-size: 12px;
  letter-spacing: 0.1rem;
  color: var(--TETRIS_GREEN);
}

.helper {
  font-size: 12px;
  padding: 3px;
  color: var(--TETRIS_PINK);
  display: none;
  position: absolute;
  bottom: -18px;
}

/*input:invalid[focused='true'] {
  border: 1px solid var(--TETRIS_PINK);
}*/

input:invalid[focused='true'] ~ span {
  display: block;
}
