.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 82.2vh;
}

.floatingCentered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: center;
}

.blurContent {
  filter: blur(3px);
}

.blurContent .floatingCentered,
.blurContent .floatingCentered * {
  filter: none; /* Exclude MagicButton and its children from blur */
}

.infoBlock {
  display: flex;
  flex-direction: row;
  gap: 21px;
}

@media (width < 1000px) {
  .infoBlock {
    flex-direction: column;
  }
}
