.main {
  margin-top: 21px;
  width: 100%;
  height: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 75px;
}

.previewBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 60px;
  margin-left: 22px;
}

.trio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-items: center;
  text-align: center;
  justify-content: center;
}

.optionsBlock {
  margin-top: 21px;
  align-self: center;
  display: flex;
  flex-direction: row;
  transition: transform 0.3s ease-out;
  gap: 80px;
}

.left {
  display: flex;
  flex: 1;
  align-items: top;
  justify-content: flex-end;
  width: 250px;
}

.right {
  display: flex;
  flex: 1;
  align-items: top;
  justify-content: flex-start;
  width: 250px;
}

.deviderTetris {
  display: flex;
}

.deviderTetrisVertical {
  display: none;
}

.glitch {
  animation: glitch 1.5s linear infinite;
}

.spinToRight {
  animation: spinToRight 2.5s linear infinite;
}

.spinToLeft {
  animation: spinToLeft 2.5s linear infinite;
}

@keyframes spinToRight {
  0% {
    transform: translate(0, 0) skew(0deg) rotate(0deg);
  }
  25% {
    transform: translate(5px, 0) skew(0deg) rotate(90deg);
  }
  50% {
    transform: translate(-5px, 0) skew(0deg) rotate(180deg);
  }
  75% {
    transform: translate(5px, 0) skew(0deg) rotate(270deg);
  }
  100% {
    transform: translate(0, 0) skew(0deg) rotate(360deg);
  }
}

@keyframes spinToLeft {
  0% {
    transform: translate(0, 0) skew(0deg) rotate(0deg);
  }
  25% {
    transform: translate(0, 0) skew(0deg) rotate(-90deg);
  }
  50% {
    transform: translate(0, 0) skew(0deg) rotate(-180deg);
  }
  75% {
    transform: translate(0, 0) skew(0deg) rotate(-270deg);
  }
  100% {
    transform: translate(0, 0) skew(0deg) rotate(-360deg);
  }
}


@media (width < 768px) {
  .main {
    margin-bottom: 21px;
  }
  .trio {
    flex-direction: column;
    gap: 42px;
  }
  .optionsBlock {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 21px;
  }
  .right {
    justify-content: center;
  }
  .left {
    justify-content: center;
  }
  .deviderTetris {
    display: none;
  }
  .deviderTetrisVertical {
    display: flex;
  }
}
