.main {
  margin-top: 21px;
  width: 100%;
  height: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 75px;
}

.previewBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 60px;
  margin-left: 22px;
}

.trio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-items: center;
  text-align: center;
  justify-content: center;
}

.optionsBlock {
  margin-top: 21px;
  align-self: center;
  display: flex;
  flex-direction: row;
  transition: transform 0.3s ease-out;
  gap: 80px;
}

.left {
  display: flex;
  flex: 1;
  align-items: top;
  justify-content: flex-end;
  width: 250px;
}

.right {
  display: flex;
  flex: 1;
  align-items: top;
  justify-content: flex-start;
  width: 250px;
}

.centerItem {
  transition: scale 0.5s ease-in;
}

.deviderTetris {
  display: flex;
}

.deviderTetrisVertical {
  display: none;
}

.spinToRight {
  animation: spinToRight 2.5s linear infinite;
  transition: scale 0.5s ease-in;
}

.spinToLeft {
  animation: spinToLeft 2.5s linear infinite;
  transition: scale 0.5s ease-in;
}

.spinToLeft:hover,
.spinToRight:hover,
.centerItem:hover {
  scale: 150%;
  transition: scale 0.5s ease-out;
}

@keyframes spinToRight {
  0% {
    transform: translate(0, 0) skew(0deg) rotate(0deg);
  }
  25% {
    transform: translate(5px, 0) skew(0deg) rotate(90deg);
  }
  50% {
    transform: translate(-5px, 0) skew(0deg) rotate(180deg);
  }
  75% {
    transform: translate(5px, 0) skew(0deg) rotate(270deg);
  }
  100% {
    transform: translate(0, 0) skew(0deg) rotate(360deg);
  }
}

@keyframes spinToLeft {
  0% {
    transform: translate(0, 0) skew(0deg) rotate(0deg);
  }
  25% {
    transform: translate(0, 0) skew(0deg) rotate(-90deg);
  }
  50% {
    transform: translate(0, 0) skew(0deg) rotate(-180deg);
  }
  75% {
    transform: translate(0, 0) skew(0deg) rotate(-270deg);
  }
  100% {
    transform: translate(0, 0) skew(0deg) rotate(-360deg);
  }
}

@media (width < 768px) {
  .main {
    margin-bottom: 21px;
  }
  .trio {
    /*flex-direction: column;*/
    gap: 42px;
  }
  .optionsBlock {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 21px;
  }
  .right {
    justify-content: center;
  }
  .left {
    justify-content: center;
  }
  .deviderTetris {
    display: none;
  }
  .deviderTetrisVertical {
    display: flex;
  }
}

.poweredByBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.logoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 42px;
}

.logoItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.poweredByLogo {
  max-width: 60px;
  max-height: 60px;
}

.logoItem p {
  margin-top: 15px;
  font-size: 13px;
  color: var(--TETRIS_WHITE);
}
