:root {
  --TETRIS_WHITE: rgb(238, 227, 193);
  --TETRIS_BLACK: rgb(10, 10, 10);
  --TETRIS_BLACK_TRANS: rgba(10, 10, 10, 0.87);
  --TETRIS_GRAY: rgb(119, 136, 153);
  --TETRIS_PINK: rgb(199, 97, 100);
  --TETRIS_GREEN: rgb(0, 186, 188);
  --TETRIS_RED: rgb(208, 2, 27);
  --TETRIS_RED_DARK: rgb(73, 0, 1);
  --TETRIS_RED_MIDDLE: rgb(178, 34, 34);
  --TETRIS_RED_DOWN_MID: rgb(145, 25, 15);
  --TETRIS_RED_LIGHT: rgb(255, 59, 59);
  --TETROMONO_SHADOW_PRIMARY: rgba(183, 183, 183, 0.311);
  --TETROMONO_SHADOW_SECONDARY: rgba(208, 2, 26, 0.311);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color 0.3s ease;
}

body {
  font-style: normal;
  letter-spacing: 0.15px;
  color: var(--TETRIS_PINK);
  background: var(--TETRIS_BLACK);
}

a {
  color: var(--TETRIS_WHITE);
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: var(--TETRIS_GREEN);
}

nav {
  width: 100%;
  position: sticky;
  top: 0px;
  background-color: var(--TETRIS_BLACK);
  height: 50px;
  flex-direction: row;
  gap: 42px;
}

h1 {
  font-weight: 500;
  text-align: center;
}

.App {
  text-align: center;
}

.active {
  color: var(--TETRIS_PINK);
  text-decoration: none;
}
