:root {
  --TETRIS_WHITE: rgb(227, 227, 227);
  --TETRIS_BLUE: rgb(36, 138, 193);
  --TETRIS_BLUE_TRANS: rgba(36, 138, 193, 0.9);
  --TETRIS_ORANGE: rgb(220, 74, 88);
  --TETRIS_BLACK: rgb(2, 2, 2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-style: normal;
  letter-spacing: 0.15px;
  color: var(--TETRIS_BLACK);
  background: var(--TETRIS_WHITE);
}

a {
  color: var(--TETRIS_BLACK);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: var(--TETRIS_WHITE);
}

nav {
  width: 100%;
  position: sticky;
  top: 0px;
  background-color: var(--TETRIS_BLUE);
  height: 50px;
  flex-direction: row;
  gap: 42px;
}

h1 {
  font-weight: 500;
}

.App {
  text-align: center;
}

.active {
  color: var(--TETRIS_WHITE);
  text-decoration: none;
}
