/*.mainWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 42px;
  margin-top: 21px;
}*/

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  gap: 21px;
}

/*@media (width < 1025px) {
  .mainWrapper {
    flex-direction: column;
    align-items: center;
  }
}*/

.mainWrapper {
  /*display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 42px;
  margin-top: 21px;*/

  display: flex;
  flex-direction: row;
  justify-content: space-evenly; /* Center content horizontally */
  align-items: flex-start; /* Center content vertically */
  gap: 60px;
  /*margin-top: 21px;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sideBlockLeft {
  /*flex: 1;*/
  display: flex;

  justify-content: center;
  align-self: flex-start;
}

.sideBlock {
  /*flex: 1;*/
  display: flex;

  justify-content: center;
  /*align-self: center;*/
}

.middleBlock {
  flex: 0;
}

.sideBlockRight {
  display: flex;

  /*flex: 1;*/
  justify-content: center;
  align-self: flex-start;
}

@media (max-width: 1024px) {
  .mainWrapper {
    flex-direction: column;
    align-items: center;
  }
}
