.formList {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin: 21px 21px 0;
  user-select: none;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 82.2vh;
  user-select: none;
}
