.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--TETRIS_WHITE);
  padding: 21px;
  width: 500px;
  height: 250px;
  text-align: left;
  gap: 21px;
  background: var(--TETRIS_BLACK_TRANS);
  opacity: 1; /* Default state */
  transition: opacity 0.5s ease-in-out;
}

.messagesContainer {
  overflow-y: auto;
  width: 100%;
  padding-left: 21px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  scroll-behavior: smooth;
}

.message {
  color: var(--TETRIS_WHITE);
  opacity: 0; /* Initially hide the message */
  animation: typingAnimation 0.5s forwards; /* Apply the typing animation */
}

.singleMessage {
  color: var(--TETRIS_WHITE);
}

.playersInRoom {
  position: absolute;
  top: 11px;
  right: 45px;
  z-index: 10;
  border: none;
  padding: 5px 10px;
  font-size: x-small;
  opacity: 1; /* Default state */
  transition: opacity 0.5s ease-in-out;
}

@keyframes typingAnimation {
  from {
    opacity: 0;
    transform: translateY(20px); /* Move the message downward */
  }
  to {
    opacity: 1;
    transform: translateY(
      0
    ); /* Move the message back to its original position */
  }
}

.hideButton {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;

  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: transform 1s ease-in-out;
}

.hideButtonMoved {
  transform: translate(-465px);
}

.transparent {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
