.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--TETRIS_WHITE);
  padding: 21px;
  width: 500px;
  height: 250px;
  text-align: left;
  gap: 21px;
  background: var(--TETRIS_BLACK_TRANS);
  opacity: 1; /* Default state */
  transition: opacity 0.5s ease-in-out;
}

.rulesContainer {
  width: 100%;
  padding-left: 21px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.rule {
  color: var(--TETRIS_WHITE);
  font-size: 15px;
}

.comment {
  font-size: 11px;
}

.transparent {
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.hideButton {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;

  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: transform 1s ease-in-out;
}

.hideButtonMoved {
  transform: translate(-465px);
}

.transparent {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
